/* Adaptive */

@media screen and (max-width: 767px) {

  .container {
    width: 100%;
  }

  .to-left,
  .to-right {
    float: none;
  }

  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {

  .container {
  	width: 750px;
  }
}
@media screen and (min-width: 992px) {

  .container {
  	width: 970px;
  }
}
@media screen and (min-width: 1200px) {

	.container {
		width: 1170px;
	}
}
