@white: #fff;
@grey: #f1f1f1;
@greyDark: #e0e0e0;
@black: #000;
@red: #e02424;
@blue: #004d99;

*,
*:before,
*:after {
  box-sizing: border-box;
}

.clearfix:after,
div:after,
header:after,
footer:after,
section:after,
article:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

address {
  font-style: normal;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
	text-decoration: none;
	color: @black;
}

.to-left {
  float: left;
}
.to-right {
  float: right;
}

.container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  display: block;
	display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-y: scroll;
}

main {
	flex: 1;
}

// Cols

.grid( @name; @columns; @index: 1 ) when ( @index =< @columns ) {
  .grid( @name; @columns; (@index + 1) );

  &.@{name}-@{index} .block-col {
    width: ( percentage(1 / @index) );
  }
}

.block-cols {

  .block-col {
    display: inline-block;
    margin-right: -4px;
    vertical-align: top;
  }

  // .grid(block-cols; 6);
}